  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">LOGOUT</button>
      </a>
      <a 
      href="/dogs/new" <%- title === 'Dog Intake' ? 'class="active"' : '' %>
      ><button type="submit">ADD DOG</button></a>
      <a 
      href="/dogs" <%- title === 'Adoptable Dogs' ? 'class="active"' : '' %>
      ><button type="submit">ADOPTABLE DOGS</button></a>
      <a 
      href="/dogs/notadoptable" <%- title === 'Not Ready for Adoption' ? 'class="active"' : '' %>
      ><button type="submit">NOT YET ADOPTABLE DOGS</button></a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
