  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>

  <nav>
    <% if (user) { %>
      <div id="logo">
      <a href="/dogs/home"><i class="fas fa-paw"></i> Dog-Rescue-O-Matic</a>
      </div>
      <div id="menu">
      <a href="/dogs/new">ADD DOG</a>
      <a href="/auth/logout">LOGOUT</a>
      </div>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>

