<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/dogs/new.css" />
<%- include('../partials/nav') %>

<main>
    <h1><%= title %></h1>
    <form action='/dogs/<%= dog._id %>/behavior' method="POST">
        <label for="humans">Friendly with humans?</label>
        <input type="checkbox" id="humans" name="humans">
        <label for="kids">Friendly with kids?</label>
        <input type="checkbox" id="kids" name="kids">
        <label for="otherDogs">Good with other dogs?</label>
        <input type="checkbox" id="otherDogs" name="otherDogs">
        <label for="cats">Good with cats?</label>
        <input type="checkbox" id="cats" name="cats">
        <label for="houseBroken">Friendly with humans?</label>
        <input type="checkbox" id="houseBroken" name="houseBroken">
        <input type="number" name="energy" id="energy" min="1" max="5" placeholder="Energy Level 1 - 5:" required>
        <button type="submit">Submit</button>
</main>