<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/dogs/new.css" />
<%- include('../partials/nav') %>

<main>
    <h1><%= title %></h1>
    <form action="/dogs" id="new-form" method="POST">
        <input type="text" name="name" id="name-input" placeholder="NAME" required>
        <input type="number" name="age" id="age-input" min="0" max="20" placeholder="AGE" required>
        <select type="text" name="breed" id="breed-input" required>
            <option value="Mixed" selected>Mixed Breed</option>
            <option value="Pit Bull">Pit Bull</option>
            <option value="Rottweiler">Rottweiler</option>
            <option value="Bulldog">Bulldog</option>
            <option value="Labrador">Labrador</option>
            <option value="German Shepherd">German Shepherd</option>
            <option value="Golden Retriever">Golden Retriever</option>
            <option value="Boxer">Boxer</option>
            <option value="Poodle">Poodle</option>
            <option value="Husky">Husky</option>
            <option value="Doberman">Doberman</option>
            <option value="Chihuahua">Chihuahua</option>
            <option value="Collie">Collie</option>
            <option value="Spaniel">Spaniel</option>
            <option value="Mastiff">Mastiff</option>
        </select>
        <input type="number" name="weight" id="weight" min="1" max="200" placeholder="Weight in LBS" required>
        <input type="number" name="idealWeight" id="idealWeight" min="1" max="200" placeholder="Ideal Weight" required>
        <input type="text" name="coat" id="coat" placeholder="Describe Coat" required>
        <input type="checkbox" name="fixed" id="fixed">
        <button type="submit" value="Add Dog">Add Dog</button>
    </form>
</main>

<%- include("../partials/footer") %>