<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/dogs/new.css" />
<%- include('../partials/nav') %>

<main>
    <h1><%= title %></h1>
    <form action="/dogs" id="new-form" method="POST">
        <label for="name">Dog's Name:</label>
        <input type="text" name="name" id="name-input" placeholder="If none given, PICK ONE!" required autocomplete="off">
        <label for="age">Age / Approximate Age:</label>
        <input type="number" name="age" id="age-input" min="0" max="20" placeholder="If none given, guess" required autocomplete="off">
        <label for="breed">Breed:</label>
        <select type="text" name="breed" id="breed-input" required>
            <option value="Mixed" selected>Mixed Breed</option>
            <option value="Pit Bull">Pit Bull</option>
            <option value="Rottweiler">Rottweiler</option>
            <option value="Bulldog">Bulldog</option>
            <option value="Labrador">Labrador</option>
            <option value="German Shepherd">German Shepherd</option>
            <option value="Golden Retriever">Golden Retriever</option>
            <option value="Boxer">Boxer</option>
            <option value="Poodle">Poodle</option>
            <option value="Husky">Husky</option>
            <option value="Doberman">Doberman</option>
            <option value="Chihuahua">Chihuahua</option>
            <option value="Collie">Collie</option>
            <option value="Spaniel">Spaniel</option>
            <option value="Mastiff">Mastiff</option>
        </select>
        <label for="weight">Weight:</label>
        <input type="number" name="weight" id="weight" min="1" max="200" placeholder="Current Weight in LBS" required autocomplete="off">
        <label for="idealWeight">Ideal Weight:</label>
        <input type="number" name="idealWeight" id="idealWeight" min="1" max="200" placeholder="Ideal Weight" required autocomplete="off">
        <label for="coat">Coat:</label>
        <input type="text" name="coat" id="coat" placeholder="Describe Coat" required autocomplete="off">
        <label for="fixed">Fertility Status</label>
        <select type="text" name="fixed" id="fixed-input" required>
            <option value="unknown" selected>Unknown</option>
            <option value="fixed">Fixed</option>
            <option value="intact">Intact</option>
        </select>
        <label for="adoptable">Adoptable:</label>
        <input type="checkbox" id="adoptable" name="adoptable">
        <button type="submit" value="Add Dog">Add Dog</button>
    </form>
    <!-- <a href="/dogs/vaccines">Vaccine Form</a> -->
</main>

<%- include("../partials/footer") %>