

/* .btn-group-toggle, */
.form-group {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 25rem));
    font-size: 2rem;
}

.form-group * {
    padding: 5px;
    border-radius: 5px;
    font-size: 2rem;
}

#newDogSubmit {
    width: 25rem;
    padding: 5px;
    border-radius: 5px;
    font-size: 2rem;
    margin-left: 0;
}

.my-form-card {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 30rem;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-card2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    /* width: 30rem; */
    background-color: white;
    border-radius: 4px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11px;
}

.btn-primary {
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
}

.btn-success {
    padding-left: 62px;
    padding-right: 62px;
    text-decoration: none;
    margin-bottom: 15px;
}


.btn-secondary {
    padding-left: 16px;
    padding-right: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-warning {
    padding-left: 33px;
    padding-right: 33px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-info {
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;

}

.btn-dark {
    padding-left: 45px;
    padding-right: 46px;
    text-decoration: none;
}

.home-link {
    text-decoration: none;
}

.btn-group-toggle {
    margin-left: -15px;
    margin-right: -6px;
}
