.btn-group-toggle,
.form-group {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 25rem));
    font-size: 2rem;
}

.form-group * {
    padding: 5px;
    border-radius: 5px;
    font-size: 2rem;
}

#newDogSubmit {
    width: 25rem;
    padding: 5px;
    /* border-radius: 5px; */
    font-size: 2rem;
}

.my-form-card {
    width: 30rem;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
