.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11px;
}

.btn-success,
.btn-warning {
    padding-left: 15px;
    padding-right: 14px;
    text-decoration: none;
}

.btn-secondary {
    padding-left: 17px;
    padding-right: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-danger {
    padding-left: 20.5px;
    padding-right: 20.5px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.card-link {
    text-decoration: none;
}

#up-vaccs {
    margin-bottom: 10px;
}